.header__nav {
    display: flex;
    overflow: hidden;
}

.header__logo {
    flex: 1;
    display: flex;

    position: relative;
    padding: 20px;
}

.header__logo-overlay {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;

    background-color: var(--primary-color);
}

.header__logo h4 {
    padding-left: 30px;

    color: #fff;
}